//COLORS
$color-primary: #6ebda7;
$color-primary-dark: #558d7d;
$color-secondary: #2978a0;
$color-tertiary: #a63446;
$color-tertiary-light: #c80f2b;

$color-grey-dark: #1c1c1c;
$color-white: #fff;
$color-white-dark: #f3f3f3;
$color-white-dark2: #ececec;
$color-black: #000;

//font sizes
$default-font-size: 1.7rem;
