//COLORS
$color-primary: #6ebda7;
$color-secondary: #2978a0;
$color-tertiary: #a63446;
$color-tertiary-light: #c80f2b;

$color-grey-dark: #1c1c1c;
$color-white: #fff;
$color-black: #000;

//font sizes
$default-font-size: 1.7rem;
