@use "./abstracts/variablies" as var;

.navbar {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    &_logo {
      font-size: 3.5rem;
    }
  }
  &_right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    &_container {
      display: flex;
      width: 50%;
      max-width: 50rem;
      justify-content: space-between;
      align-items: center;
      & a {
        font-weight: 600;
        font-size: var.$default-font-size;
      }
    }
  }
  &_menuBtn {
    width: 5rem;
    height: 5rem;
    position: relative;
    z-index: 500;
    & svg {
      width: 100%;
      height: 100%;
      color: var.$color-grey-dark;
    }
  }
  @media screen and (max-width: 800px) {
    &_right {
      display: none;
      width: 40rem;
      height: 100vh;
      padding: 10rem 0;
      position: fixed;
      top: 0;
      right: 0;
      background: var.$color-white;
      align-items: start;
      justify-content: start;
      z-index: 300;
      &_active {
        display: flex;
      }
      &_container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: start;
        padding-left: 4rem;
        width: 100%;
        & a {
          font-size: 4rem;
          text-align: left;
        }
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0.3rem);
  background: rgba($color: #000000, $alpha: 0.2);
  z-index: 200;
}
