@use "./abstracts/variablies" as var;
@use "./Animations.scss" as ani;
.btn {
  padding: 0.8rem 1rem;
  color: var.$color-white;
  background: var.$color-primary;
  border: none;
  border-radius: 0.5rem;
  font-size: var.$default-font-size;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.1s linear;
  & svg {
    @include ani.keyframes(rotate) {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @include ani.animate(rotate, 1s, linear, infinite);
  }
}

.btn:active {
  transform: translateY(1.5px);
}
.authBtn {
  color: var.$color-white;
  background: var.$color-secondary;
  padding: 1rem;
  border: none;
  width: 100%;
  font-size: var.$default-font-size;
  font-weight: 500;
  cursor: pointer;
  & svg {
    @include ani.keyframes(rotate) {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @include ani.animate(rotate, 1s, linear, infinite);
  }
}

.btn_round {
  background: var.$color-primary-dark;
  color: rgba(var.$color-white, 0.9);
  padding: 1.8rem 3rem;
  font-weight: 400;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.secondaryText {
  color: var.$color-secondary;
}
.blackText {
  color: var.$color-grey-dark;
}
.lightText {
  color: rgba(var.$color-grey-dark, 0.6);
}
.selectContainer {
  margin: 1rem 0;
  position: relative;
  width: 100%;
  padding: 1.3rem 1rem;
  border: 3px solid var.$color-secondary;
  border-radius: 0.5rem;
  &_current {
    color: rgba(var.$color-secondary, 0.6);
  }
  & svg {
    width: 3rem;
    height: 3rem;
    color: var.$color-secondary;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.selectOptionsContainer {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 120%;

  background: white;
  width: 100%;
  list-style: none;
  border-radius: 1rem;
  overflow-y: scroll;
  max-height: 15rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  &_item {
    padding: 1rem;
    border: 1px solid rgba(var.$color-grey-dark, 0.2);
    border-left: none;
    border-right: none;
    color: var.$color-grey-dark;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: var.$color-white;
    border-radius: 2rem;
    margin: 1rem 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var.$color-secondary;
    border-radius: 2rem;
  }
}
.optionsHide {
  display: none;
}

///cart
.cartIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var.$color-primary;
  position: relative;
  cursor: pointer;
  & svg {
    color: var.$color-white;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & div {
    font-size: 1.4rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var.$color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$color-white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(15%, -35%);
    z-index: 3;
    font-weight: 500;
    font-size: 1.2rem;
  }
}

.smallBtn {
  background-color: rgba(var.$color-white, 0.9);
  color: var.$color-grey-dark;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.testimonialCard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr fit-content;
  grid-template-rows: fit-content fit-content 1fr;
  background: var.$color-white;
  border-radius: 2rem;
  padding: 1rem 2rem;
  padding-bottom: 3rem;
  &_svg {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 5rem;
    height: 5rem;
    color: var.$color-secondary;
  }
  &_name {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
    align-self: start;
  }
  &_text {
    grid-column: 1/2;
    grid-row: 2/3;
    font-weight: 400;
    font-size: 1.8rem;
  }
  &_avatar {
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 50%;
    background: var.$color-primary;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 10rem;
    height: 10rem;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.loadingXl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 10rem;
  & svg {
    width: 10rem;
    height: 10rem;
    color: var.$color-grey-dark;
    @include ani.keyframes(rotate) {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @include ani.animate(rotate, 1.4s, linear, infinite);
  }
}

.ValignArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
  & svg {
    color: var.$color-secondary;
    width: 2.2rem;
    height: 2.2rem;
  }
}

.loadingBook {
  height: 42rem;
  width: 27rem;
  border-radius: 0.5rem;
  background: var.$color-white-dark2;
  padding: 3rem;
  @include ani.keyframes(loading) {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(0.95);
    }
    100% {
      filter: brightness(1);
    }
  }
  @include ani.animate(loading, 1.4s, ease-in-out, infinite);
  &_img {
    width: 100%;
    height: 65%;
    background: var.$color-white-dark;
    border-radius: 0.5rem;
    @include ani.animate(loading, 1.4s, ease-in-out, infinite);
  }
}
