@use "../abstracts/variablies" as var;
@use "../Animations.scss" as ani;
@use "../abstracts/mixin.scss" as mix;

* {
  outline: none;
}
.horizontal-slider {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.track {
  background: rgba(var.$color-grey-dark, 0.3);
  height: 0.5rem;
  border-radius: 1rem;
}
.track-1 {
  background: var.$color-grey-dark;
}
.thumb {
  position: absolute;
  top: 28%;
  background: var.$color-grey-dark;
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 1.2rem;
  color: var.$color-white;
  font-weight: 400;
  font-family: inherit;

  text-align: center;
}
